body {
    background: url("../images/Gandalf.jpg") no-repeat;
    background-size: cover;
}
#timer {
    font-family: monospace;
    font-size: 60px;
    text-align: center;
}

.jumbotron {
    opacity: .5;
}
